@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&family=Rye&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
    background-color: #A60000;
}

header{
    background: url('res/green.png');
    background-size: 150vw;
    width: 100%;
    height: 90px;
    padding: 10px;
}

header img{
    height: 100%;
    display: block;
    margin: auto;
}

.head{
    background: url('res/white.png');
    background-size: 150vw;
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orn{
    width: 100%;
}

.menu{
    height: 80px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card{
    font-family: 'Rye', cursive;
    font-size: 1.1em;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #fff4;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.page{
    position: fixed;
    overflow: auto;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('res/white.png');
    background-size: 150vw;
    transition: .3s ease-in-out;
    transform: translateX(-100%);
}
.mostrar{
    transform: translateX(0);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2.3em;
    cursor: pointer;
    color: #fff;
    background-color: #A60000AA;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.close:hover{
    background-color: #A00;
}

.portada{
    height: 250px;
    overflow: hidden;
}

.portada img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h1{
    font-family: 'Rye', cursive;
    background-color: #A40000;
    color: #fff;
    padding: 10px;
}
.list{
    padding: 10px;
}

.item{
    border-radius: 10px;
    overflow: hidden;
    background-color: #11614A;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: 0 3px 4px 0 #0005;
    position: relative;
    padding-bottom: 10px;
}
.item img{
    object-fit: cover;
    width: 100%;
    display: block;
    height: 140px;
}
.name{
    padding: 10px;
    padding-bottom: 0;
    font-weight: bold;
}
.price{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
}
.post .price{
    top: 150px;
}
.item span{
    line-height: .95em;
    display: inline-block;
    font-size: .8em;
    opacity: .9;
    padding-bottom: 10px;
    padding-left: 10px;
}

.splide{
    overflow: hidden;
    height: 220px;
}
.slideimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  .loading{
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #A30000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 120;
  }

  #Birria{
    /* span two fr in grid */
    background: url('res/red.png');
    background-size: 150vw;
    grid-column: span 2;
    color: #F2DEA3;
    text-transform: uppercase;
    font-size: 1.5em;
  }